{% extends 'channels/base.html' %}
{% block content %}
<div class="container">
  <div class="text-center">
    <h1>{{ user.username }}'s Channels</h1>
    <a href="{% url 'create_channel' %}" class="btn btn-primary">Create New Channel</a>
  </div>

    {% for channel in channels %}

    <h2><a href="{% url 'detail_channel' channel.id %}">{{ channel.title }}</a></h2>
    <a href="{% url 'add_video' channel.id %}" class="btn btn-primary">Add Video</a>
    <a href="{% url 'update_channel' channel.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'delete_channel' channel.id %}" class="btn btn-danger">Delete</a>
    
    

    <div class="row">
      {% for video in channel.videoonline_set.all %}
      <div class="col-md-4 mt-3">
        <div class="card mb-4 shadow-sm">
          <iframe width="100%" height="225" src="https://www.youtube.com/embed/{{ video.youtube_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <p class="card-text">{{ video.title }}</p>
            {% if user.id == channel.user.id %}
            <a href="{% url 'detail_video' video.id %}" class="btn btn-secondary">Watch Clips</a>
            <a href="{% url 'delete_video' video.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <br />
    {% endfor %}

</div>
{% endblock %}