{% extends 'channels/base.html' %}
{% load staticfiles %}
{% block content %}
<head>
  <script type="text/javascript" src="{% static 'csrf.js' %}"></script>
  <script type="text/javascript" src="{% static 'notify.js' %}"></script>
  <script type="text/javascript" src="{% static 'notify.min.js' %}"></script>
  <script>
    var channel_obj = "{{channel}}";
    console.log(channel_obj)
    var checkInterval = 10; //seconds


    var match = window.location.href.match(/channel\/([0-9]+)/);
    console.log(match[1])
    function get_result() {
      console.log("send channel_result") // sanity check
      $.ajax({
          url : "channel_result", // the endpoint
          type : "POST", // http method
          data : { post_id :  match[1]}, // data sent with the post request

          // handle a successful response
          success : function(json) {
              console.log(json); // log the returned json to the console
              for(var key in json) {
                console.log(key + "  " + json[key]); 
                var element = document.getElementById(key);
                if(element.innerHTML != "Watch Clips") {
                  element.innerHTML="Watch Clips";
                  element.style.removeProperty("background-color");
                  element.classList.add("btn-secondary");
                  $.notify(json[key] + " is ready!", "success");
                }
              }
          },

          // handle a non-successful response
          error : function(xhr,errmsg,err) {
          }
      });
    };

    $(document).ready(function () {
        setInterval(get_result, 1000 * checkInterval);
    });
  </script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    var check_result = "{{result}}"
    console.log(check_result)
    $(window).on('load',function() {
      $('.timeline').each(function() {

          var target_name = $(this).attr('target_name');
          var target_result = $(this).attr('target_result');
          var length = $(this).attr('length');
          var id = $(this).attr('id');
          console.log(target_result)
          console.log(target_name)
          console.log(length)
          var result = JSON.parse(target_result.replace(/&quot;/g,'"'));
          result = result.appearance_time
          console.log(result)
          google.charts.load('current', {'packages':['timeline']});
          google.charts.setOnLoadCallback(drawChart);
          function drawChart() {
            var container = document.getElementById(id);
            var chart = new google.visualization.Timeline(container);

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Target Name');
            data.addColumn('number', 'Start');
            data.addColumn('number', 'End');

            data.addRows(result.length+1);

            data.setCell(0, 0, 'Total');
            data.setCell(0, 1, 0);
            data.setCell(0, 2, length*1000);
            var i;
            for (i = 0; i < result.length; i++) {
              data.setCell(i+1, 0, 'Clip');
              data.setCell(i+1, 1, result[i].start_time*1000);
              data.setCell(i+1, 2, result[i].end_time*1000);
              console.log(result[i].start_time)
              console.log(result[i].end_time)
            }

            // set a padding value to cover the height of title and axis values
            var paddingHeight = 40;
            // set the height to be covered by the rows
            var rowHeight = 6 * 15;
            // set the total chart height
            var chartHeight = rowHeight + paddingHeight;
            
            var options = {
              vAxis: { ticks: [0,5,10,15,20] },
              height: chartHeight
            };

              google.visualization.events.addListener(chart, 'ready', function () {
                var labels = container.getElementsByTagName('text');
                Array.prototype.forEach.call(labels, function(label) {
                  if (label.getAttribute('text-anchor') === 'middle') {
                    label.setAttribute('fill', '#ffffff');
                  }
                });
              });

               chart.draw(data, options);
           }
        
      });


    });
  </script>
</head>
<div class="container">
<h1>{{ channel.title }}</h1>
<h4 class="text-muted">{{ channel.user.username }}</h4>
<div class='share-buttons'>
      <p> Share this channel </p>
      {% comment %} Facebook {% endcomment %}
      <a href="http://www.facebook.com/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
        <img src="{% static 'facebook.png' %}" alt="Facebook" />
      </a>
      {% comment %} Twitter {% endcomment %}
      <a href="https://twitter.com/share?url={{ request.build_absolute_uri }}&amp;text=Check%20This%20Channel&amp;hashtags=idolchaser" target="_blank">
        <img src="{% static 'twitter.png' %}" alt="Twitter" />
      </a>
      {% comment %} Reddit {% endcomment %}
      <a href="http://reddit.com/submit?url={{ request.build_absolute_uri }}&amp;title={{ channel.title }} fan channel" target="_blank">
        <img src="{% static 'reddit.png' %}"  alt="Reddit" />
      </a>
    </div>
<br>
<br>

{% if user.id == channel.user.id %}
<a href="{% url 'delete_channel' channel.id %}" class="btn btn-danger">Delete</a>
<a href="{% url 'update_channel' channel.id %}" class="btn btn-primary">Edit</a>
<a href="{% url 'add_video' channel.id %}" class="btn btn-primary">Add Video</a>
{% endif %}

    <div class="row">
      {% for video in channel.videoonline_set.all %}
      <div class="col-md-4 mt-3">
        <div class="card mb-4 shadow-sm">
          <iframe width="100%" height="225" src="https://www.youtube.com/embed/{{ video.youtube_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <p class="card-text">{{ video.title }}</p>
            
            {% if user.id == channel.user.id %}
            <a href="{% url 'delete_video' video.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
            {% if video.youtube_id in results %}
              <a href="{% url 'detail_video' video.id %}" id="{{video.youtube_id}}" class="btn btn-secondary">Watch Clips</a>
              <br>
              <br>    
              {% for result in video.result_set.all %}
              <p> {{result.target_name}} appears <span style="color:#cc3300;">{{result.percentage}}%</span> of this video </p>
              <div width="100%" class="timeline" id="{{video.youtube_id}}timeline" target_result="{{result.target_result}}" target_name="{{result.target_name}}" length="{{result.length}}">
              {% endfor %}
              {% else %}
              <a href="{% url 'detail_video' video.id %}" id="{{video.youtube_id}}" class="btn" style="background-color:grey">Processing Clips...</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
      </div>

</div>
{% endblock %}