{% extends 'channels/base.html' %}
{% block content %}
<div class="container">
<h2>{{ videoonline.title }}</h2>
<a href="{% url 'detail_channel' videoonline.channel.id %}">Return to channel {{ videoonline.channel.title }}</a>
<br />
<h3 class='text-muted'>The original video</h3>



    <div class="row">
        {% comment %} Original Video {% endcomment %}
      {% comment %} <div class="col-md-4 mt-3">
        <div class="card mb-4 shadow-sm"> {% endcomment %}
          <iframe width="100%" height="600" src="https://www.youtube.com/embed/{{ videoonline.youtube_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            {% comment %} <p class="card-text">{{ videoonline.title }}</p> {% endcomment %}
            {% comment %} {% if user.id == channel.user.id %}
            <a href="{% url 'delete_video' videoonline.id %}" class="btn btn-danger">Delete</a>
            {% endif %} {% endcomment %}
          {% comment %} </div>
            </div> {% endcomment %}
        
          </div>
    
        {% comment %} Edited Video {% endcomment %}
      {% comment %} <div class="col-md-4 mt-3">
        <div class="card mb-4 shadow-sm">
          <iframe width="100%" height="225" src="https://www.youtube.com/embed/{{ video.youtube_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <p class="card-text">{{ video.title }}</p>
            {% if user.id == channel.user.id %}
            <a href="{% url 'delete_video' video.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
          </div>
        </div>
      </div> {% endcomment %}
    </div>
    <br />
    <h3 class='text-muted'>The Clips of the target</h3>
    <div class="row">
        {% comment %} Original Video {% endcomment %}
      {% comment %} <div class="col-md-4 mt-3">
        <div class="card mb-4 shadow-sm"> {% endcomment %}
          <iframe width="100%" height="600" src="https://www.youtube.com/embed/{{ videoonline.youtube_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          {% comment %} <div class="card-body"> {% endcomment %}
            {% comment %} <p class="card-text">{{ videoonline.title }}</p> {% endcomment %}
            {% if user.id == channel.user.id %}
            <a href="{% url 'delete_video' videoonline.id %}" class="btn btn-danger">Delete</a>
            {% endif %} 
          {% comment %} </div>
        </div> {% endcomment %}
      </div>
    
        {% comment %} Edited Video {% endcomment %}
      {% comment %} <div class="col-md-4 mt-3">
        <div class="card mb-4 shadow-sm">
          <iframe width="100%" height="225" src="https://www.youtube.com/embed/{{ video.youtube_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <p class="card-text">{{ video.title }}</p>
            {% if user.id == channel.user.id %}
            <a href="{% url 'delete_video' video.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
          </div>
        </div>
      </div> {% endcomment %}
    </div>

</div>
{% endblock %}