.jumbotron {
  background-color: #EBF4FA;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 51rem;
}

#footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;
}

.share-buttons img {
width: 45px;
padding: 1px;
border: 0;
box-shadow: 0;
display: inline;
}