{% extends 'channels/base.html' %}
{% load staticfiles %}
{% block content %}
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="{% static 'chart.js' %}"></script>
    <script type="text/javascript">
      var prepopular = "{{popular}}";
      drawchart(prepopular, "popular_div", "Popular Celebrity Trend");

      var channel = "{{channel}}";
      drawchart(channel, "channel_div", "Most-Viewed Channel");

      var videoonline = "{{videoonline}}";
      drawchart(videoonline, "video_div", "Most-Viewed Vidoe");

      
    </script>

  </head>

  <body>
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Trending</h1>
      </div>
    </section>
    <div class="row">
      <h5 class='text-muted'>&nbsp;&nbsp;&nbsp; The most recent added Channel: </h5><h5 style="color:#DA6B3B;">&nbsp;&nbsp;{{recent_channel}}</h5>
    </div>
    <div class="row">
       <h5 class='text-muted'>&nbsp;&nbsp;&nbsp; The most recent added Video: </h5><h5 style="color:#DA6B3B;">&nbsp;&nbsp;{{recent_video}}</h5>
    </div>
    <div class="row">
        <div class="col-md-4 mt-3">
            <div id="popular_div" ></div>
        </div>
        <div class="col-md-4 mt-3">
            <div id="channel_div" ></div>
        </div>
        <div class="col-md-4 mt-3">
            <div id="video_div" ></div>
        </div>
    </div>
  </body>
{% endblock %}